.loginModal {
    background-color: orange; 
    padding: 2rem;
    border: 1px solid black;
    height: 100rem;
}

.userPageNav{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 0.25rem solid orange;
    color: white;
}

.userPageNavButton{
    color: white;   
    background-color: orange;
    margin: 1rem;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: var(--buttonHoverTiming);
}

.userPageContent{
    flex: 1;
}

.userPageNavButton:hover{
    background-color: brown;
    transition: var(--buttonHoverTiming);
}

.userPageContainer{
    display: flex;
    height: 100vh;
}

.userPageContent{
    background-color: #373333;
    color: white;
}

#root{
    container-type: inline-size;
}

@container (max-width: 600px){
    .userPageContainer{
        flex-direction: column-reverse;
        
    }
    .userPageNav{
    }
    .userPageContent{
        background-color: red;
    }
}