.shoppingProduct--searchResult--minimum{
    display: flex;
    border: 1px solid black;
    background-color: lightGray;
    opacity: 50%;
}

.shoppingProduct--searchResult--minimum:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid{
    opacity: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    max-width: 1500px;
    background-color: lightcoral;
}

.shoppingProduct--searchResult--mid:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid--image{
    max-width: 200px;
    background-color: cyan;
    margin-right: 5px;
    border-radius: 5px;
}

.shoppingProduct--searchResult--mid--details{
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shoppingProduct--searchResult--mid--details > h1{
    flex: 1;
}
.shoppingProduct--searchResult--mid--details > div{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shoppingProduct--fullSize{
    display: flex;
    flex-direction: row;
}

.shoppingProduct--fullSize > h1{
    text-align: center;
}

.productHeader{
    padding: 5px;
}

.cartButtons{
    display: flex;
    flex-direction: column;
}

.cartButtons > button{
    margin-top: auto;
    margin-bottom: 0px
}

.cartItem--modal{
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    padding-top: 100px;
    background-color:rgba(0,0,0,0.4);
}

.cartItem--modal--content{
    background-color: orange;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

.fadeModal{
    margin: auto;
    padding: 20px;
    min-width: 300px;
    min-height: 300px;
    left: 30%;
    right: 30%;
    display: flex;
    position: absolute;
    justify-content: center;
    visibility: hidden;
    background-color:rgba(0,0,0,0.8)
}

.fadeModal--content{
    font-size: 50px;
    flex: 1/3;
    color: white;
    background-color: green;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.cartButtons{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.editCartItemButton{
    padding: 30px;
}

.removeFromCartButton{
    padding: 20px;   
}
.cartItemCost{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}

.modalContentHeader{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 5px;
}

#addToCart{
    padding: 5px;
}

.fullsizeProductContainer{
    background-color: orange;
    justify-items: center;
    text-align: center;
}
