.shoppingProduct--searchResult--minimum{
    display: flex;
    border: 1px solid black;
    background-color: lightGray;
    opacity: 50%;
}

.shoppingProduct--searchResult--minimum:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid{
    opacity: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    max-width: 1500px;
    background-color: lightcoral;
}

.shoppingProduct--searchResult--mid:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid--image{
    max-width: 200px;
    background-color: cyan;
    margin-right: 5px;
    border-radius: 5px;
}

.shoppingProduct--searchResult--mid--details{
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shoppingProduct--searchResult--mid--details > h1{
    flex: 1;
}
.shoppingProduct--searchResult--mid--details > div{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shoppingProduct--fullSize{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.shoppingProduct--fullSize > h1{
    text-align: center;
}

.cartButtons{
    display: flex;
    flex-direction: column;
}

.cartButtons > button{
    margin-top: auto;
    margin-bottom: 0px
}

.cartItem--modal{
    width: 100%;
    height: 1000px;
    z-index: 10;
    position: absolute;
    background-color: pink;
}