.navBar{
    min-height: 60px;
    background-color: black;
    display: flex;
    justify-content: right;
}

.shoppingCartIcon{
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: red;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.shoppingCartIcon:hover{
    border: 1px solid white;
    background-color: gray;
    cursor: pointer;
}

.cartIconSpan{
    line-height: 115%;
    background-color: white;
    max-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    flex: 1/5;
    margin-right: 0;
    margin-left: auto;
}

