.navBar{
    min-height: 60px;
    background-color: black;
    display: flex;
}

.navRoot{
    container-type: inline-size;
}

.shoppingCartIcon{
    transition: 0.25s;
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: right;
}

.cartIconSpan{
    display: inline-block;
    background-color: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    color: red;
    font-weight: bold;
    text-align: center;
}

.cartIconSpan-small{
    display: inline-block;
    background-color: white;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    color: red;
    font-weight: bold;
    text-align: center;
}

.shoppingCartIcon:hover{
    transition: 0.25s;
    background-color: darkslategray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.navBarButton{
    min-width: 100px;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    background-color: darkred;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

.navBarButton:hover{
    font-weight: bold;
    box-shadow: gray 5px 5px 5px;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: red;
}

.homeLogo{
    min-width: 100px;
    min-height: 50px;
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    text-align: center;
    border: 1px solid black;
    margin-left: 0px;
}

.homeLogo:hover{
    transition: 0.25s;
    background-color: darkslategray;
    border-radius: 5px;
    cursor: pointer;
}

.mobileDropdown{
    display: none;
}

.mobileDropDownContent{
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: #8b0000;
    border-radius: 5px;
    border-top-left-radius: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    text-align: left;
    z-index: 10;
}

.mobileDropDownContent > * {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.mobileDropdown > * :hover{
    font-weight: bold;
    box-shadow: gray 5px 5px 5px;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    background-color: red;
}

.dropDownIcon{
    display: none;
    min-width: 50px;
    height: 60px;
    background-position: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
}

.dropDownIcon:hover{
    transition: 0.25s;
    background-color: darkslategray;
    border-radius: 5px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}

@container (max-width: 650px){
    .navBarButton{
        min-width: 60px;
        font-size: 13px;
        text-decoration: none;
    }
    /* SEARCHBAR rule specified in ./SmallComponents/SearchBar/SEARCHBAR.css */
}

@container (max-width: 720px){
    .homeLogo{
        display: none;
    }
    .shoppingCartIcon{
        display: none;
    }
    .dropDownIcon{
        display:block
    }
}