.shoppingProduct--searchResult--minimum{
    display: flex;
    border: 1px solid black;
    background-color: lightGray;
    opacity: 50%;
}

.shoppingProduct--searchResult--minimum:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid{
    opacity: 80%;
    display: flex;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    border-radius: 5px;
    max-width: 1500px;
    background-color: lightcoral;
    padding-right: 5px;
}

.shoppingProduct--searchResult--mid:hover{
    opacity: 100%;
    cursor: pointer;
}

.shoppingProduct--searchResult--mid--image{
    max-width: 200px;
    background-color: cyan;
    margin-right: 5px;
    border-radius: 5px;
}

.shoppingProduct--searchResult--mid--details{
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shoppingProduct--searchResult--mid--details > h1{
    flex: 1;
}
.shoppingProduct--searchResult--mid--details > div{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shoppingProduct--fullSize > h1{
    text-align: center;
}

.productHeader{
    padding: 5px;
}

.cartButtons{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
}

.cartButtons > button{
    margin-top: auto;
    margin-bottom: 0px
}

.cartItem--modal{
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 3;
    position: absolute;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color:rgba(0,0,0,0.4);
}

.cartItem--modal--content{
    background-color: orange;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
}

.fadeModal{
    margin: auto;
    padding: 20px;
    min-width: 300px;
    min-height: 300px;
    left: 30%;
    right: 30%;
    display: flex;
    position: absolute;
    justify-content: center;
    visibility: hidden;
    background-color:rgba(0,0,0,0.8)
}

.fadeModal--content{
    font-size: 50px;
    flex: 1/3;
    color: white;
    background-color: green;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.cartButtons{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.editCartItemButton{
    padding: 30px;
}

.removeFromCartButton{
    padding: 20px;   
}
.cartItemCost{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
}

.modalContentHeader{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 5px;
}

.productDetails > div > img {
    border-radius: 5px;
}

#addToCart{
    padding: 5px;
}

.shoppingProduct--fullSize{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1280px;
    background-color: orange;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
}

.navRoot {
    container-type: inline-size;
}

.cartItems{
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-gap: 5px;
    padding-top: 10px;
}

select, .submitProductButton{
    padding-top: 5px;
    padding-bottom: 5px;
}

.stars{
    margin: auto;
    display: flex;
    min-height: 80px;
}

.stars > div{
    opacity: 40%;
    font-size: 50px;
}

.stars > div:hover{
    cursor: pointer;
}

.stars > div.hoverState{
    opacity: 100%;
    font-size: 60px;
}

.avgStarRating{
    font-size: 30px;
}

div.alreadyVoted{
    opacity: 100%;
}


@container (max-width: 1120px){
    .fullSize-Image{
        max-height: min(30vw, 300px);
        max-width: min(30vw, 300px);
    }
}

@container (max-width: 890px){
    .shoppingProduct--fullSize{
        flex-direction: column;
    }
    .fullSize-Image{
        max-height: min(100vw, 300px);
        max-width: min(100vw, 300px);
    }
    .shoppingProduct--searchResult--mid--image{
        max-height: min(30vw, 250px);
        max-width: min(30vw, 250px);
    }
    .fadeModal{
        left: 0;
        right: 0;
        min-width: 200px;
    }

    .editCartItemButton{
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .removeFromCartButton{
        padding: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .cartItem--modal{
        padding-top: 0px;
    }
    .productHeader{
        padding: 0px;
    }
    .stars > div{
        font-size: max(5vw, 30px);
    }
}

@container (max-width: 380px){
    .cartItem--modal--content{
        padding: 0px;
    }
}