body{
  background-color: red;
}

.App{
  display: flex;
  flex-direction: column;
}

.mainContainer{
  background-color: gray;
  display: flex;
}

.mainContainer--results{
  flex: 4;
}

.mainContainer--sideBar{
  flex:1;
}