html{
  height: 100%;
}

body{
  background-color: darkcyan;
  text-align: center;
}

.homepageArrowBackground{
  height: 1420px;
  max-width: 800px;
  background-position: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  margin: auto;
}

.navRoot {
  height: 100vh;
  overflow: auto;
  container-type: inline-size;
}

.productSearchContainer {
  background-color: brown;
  height: 100vh;
}

.filterContainer{
  color: white;
  background-color: darkgreen;
  height: 50px;
  margin-bottom: 10px;
}

.clearCartButton{
  padding: 10px;
}

@container (max-width: 800px){
  .homepageArrowBackground{
    height: 800px;
    max-width: 450px;
  }
}

@container (max-width: 450px){
  .homepageArrowBackground{
    height: 533px;
    max-width: 300px;
  }
}